 #sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
  }
 
a{
  color: #0000EE;
}
h1{
  font-size: 32pt;
  font-weight: bold;
}
h2{
  font-size: 26pt;
}
h3{
  font-size: 22pt;
}


/* GLOWING ANIMATION */


.box {
  position: relative;
  color: #fff;
  background: linear-gradient(0deg, black, #171717);
  border-radius: 50px;
}
.box:active {
  background: black;
}
.box::before,
.box::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    top: -3px;
    left: -2.5px;
    border-radius: 50px;
    background: linear-gradient(45deg,
        #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
        #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff
    );
    background-size: 300%;
    animation: border 12s linear infinite;
}

/* .box::after {
    filter: blur(100px);
} */

@keyframes border {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }
}